---
import Layout from "../layouts/Layout.astro"
---

<Layout title="404 Not Found">
  <section
    class="flex flex-col items-center justify-center">
    <h1 class="text-center font-black text-4xl my-5">
      Ups! 404 Not Found
    </h1>
  
    <img src="/404-image.webp" alt="404 Not Found" class="w-96" />
  </section>
</Layout>