---
import Layout from "../layouts/Layout.astro";

// Welcome to Astro! Wondering what to do next? Check out the Astro documentation at https://docs.astro.build
// Don't want to use any of this? Delete everything in this file, the `assets`, `components`, and `layouts` directories, and start fresh.
---

<Layout title="Pokemon primera generacion">
	<main class="p-10 mx-auto w-full px-96">
		<article class="space-y-3">
			<header>
				<h1 class="text-4xl font-bold mb-10">Acerca de este proyecto</h1>
			</header>
				<p class="text-xl">
					Este es mi primer proyecto con Astro, cuyo objetivo es aprender los
					fundamentos del framework. En él, pongo en práctica la integración de
					componentes, el enrutamiento estático y dinámico, así como el fetching
					de datos.
				</p>
				<p class="text-xl">
					Para el desarrollo, he utilizado <span class="font-semibold"
						>TailwindCSS</span
					> para el estilo de los componentes y la página en general, y <span
						class="font-semibold">TypeScript</span
					> para mejorar la eficiencia y la calidad del código. Además, he utilizado
					<span class="font-semibold">Astro</span>
					como framework para la creación de la aplicación web.
				</p>
		</article>
	</main>
</Layout>
